@media (min-width: 1200px){
    
ul{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    width: auto;
    
    li{
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        padding: 15px;
        width: 25%;
        img{
            height: 100px;
        }
    }
}


}